@inject IJSRuntime js;
<!-- Add a simpler button:
  Simple button that will open the modal.
-->
<div data-netlify-identity-button>Log in</div>
@code {

    protected async override Task OnParametersSetAsync()
    {
        await js.InvokeAsync<IJSObjectReference>("import", "./js/netlify-identity-widget.js");
    }
}
