<!-- Add a simpler button:
  Simple button that will open the modal.
-->
<div data-netlify-identity-button>Login with Netlify Identity</div>
<div data-netlify-identity-menu></div>
<div data-netlify-identity-button>Sign up / Log in</div>
@code {

}
