@inject IJSRuntime js;
<!-- Add a simpler button:
  Simple button that will open the modal.
-->
<div data-netlify-identity-button></div>
@code {

    protected async override Task OnParametersSetAsync()
    {
        //await js.InvokeVoidAsync("netlifyIdentity,open");
        //await js.InvokeAsync<IJSObjectReference>("import", "./js/netlify-identity-widget.js");
        var moduke = await js.InvokeAsync<IJSObjectReference>("import", "./js/netlifyIdentity.js");
        //await moduke.InvokeVoidAsync("openDialog");
    }
}
